.Xauthority
.bash_history
.bash_logout
.cache/
.config/QtProject.conf
.config/chromium/
.config/dconf/
.config/gtk-2.0/gtkfilechooser.ini
.config/leafpad/
.config/libfm/
.config/mc/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/nvim/autoload/
.config/nvim/plugged/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/transmission/
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/vifm/vifmshortcuts
.esd_auth
.local/share/mc/
.local/share/newsboat/
.local/share/nvim/
.local/share/qutebrowser/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.mozilla/
.pki/
.software/
.ssh/
.surf/
Data/
Downloads/
work/
 .bakerc
.config/GIMP/
.config/caja/
.config/calcurse/apts
.config/calcurse/todo
.config/calibre/
.config/darktable/
.config/geany/
.config/keepassxc/
.config/libreoffice/
.config/msmtp/
.config/mutt/
.config/ncmpcpp/error.log
.config/notmuch-config
.config/qutebrowser/
.config/vlc/
.config/xarchiver/
.config/youtube-viewer/
.dmrc
.gnupg/
.local/share/Trash/
.local/share/gvfs-metadata/
.local/share/mail/
.local/share/vifm/
.local/share/vlc/
.mbsyncrc
.password-store/
.w3m/
.xsession-errors
.xsession-errors.old
Calibre Library/
Documents/
Music/
Videos
temp/
.config/bleachbit/
.config/calcurse/.calcurse.pid
.config/coc/
.config/configstore/
.config/google-chrome/
.config/gthumb/
.config/htop/
.config/menus/
.config/remmina/
.gnome/
.local/share/applications/chrome-aapocclcgogkmnckokdopfmhonfmgoek-
.local/share/applications/chrome-aohghmighlieiainnegkcijnfilokake-
.local/share/applications/chrome-apdfllckaahabafndbhieahigkjlhalf-
.local/share/applications/mimeapps.list
.local/share/icons/
.local/share/keyrings/
.lyxauth
.npm/
.python_history
.rdesktop/
.sc-iminfo
.thumbnails/
OfficeSoftware/
Pictures/
software/
.local/share/applications
