.Xauthority
.bash_history
.bash_logout
.cache/
.config/QtProject.conf
.config/chromium/
.config/dconf/
.config/gtk-2.0/gtkfilechooser.ini
.config/leafpad/
.config/libfm/
.config/mc/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/nvim/autoload/
.config/nvim/plugged/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/shortcutrc
.config/transmission/
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/vifm/vifmshortcuts
.esd_auth
.gitconfig
.local/bin/tools/bookmark
.local/share/mc/
.local/share/newsboat/
.local/share/nvim/
.local/share/qutebrowser/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.mozilla/
.pki/
.software/
.ssh/
.surf/
Data/
Downloads/
work/

